/* PRINCIPAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgba(14, 19, 23, 255);
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

/* CABEÇALHO */

#cabecalho {
  position: relative;
  margin: inherit;
  height: auto;
  background-color: #ffa200;
}

#logo {
  width: 100%;
  height: auto;
}

/* CONTEÚDO */

#linha {
  width: auto;
  height: 50px;
  margin: auto;
  padding: 20px;
  background-color: #9f5b00;
}

.secao {
  display: flex;
}

.conteudo {
  width: 70%;
  padding: 20px;
  background-color: #daa64e;
}

/* CARDAPIO */

#cardapio {
  width: 100%;
  height: auto;
  margin: inherit;
}

#mostrarCardapio {
  position: relative;
  text-align: right;
}

/* SLIDES */

.slideConteiner {
  width: 30%;
}

.mySlides {
  display: none;
  max-width: 100%;
  margin: inherit;
}

/* Barra Lateral */

.barraLateral {
  position: fixed;
  width: 250px;
  height: 2%;
  top: 0;
  left: -250px; /* Inicialmente oculta a barra lateral */
  color: #000000;
  transition: left 0.6s ease-in-out; /* Tempo de animação */
  background-color: #ffa200;
  z-index: 1000; /* Impede a sobreposiçao de outros elementos sobre a sidebar */
}

.barraLateral ul {
  border: 5px;
  border-style: inset;
  border-color: #ffffff;
  list-style-type: none;
  padding: 0;
}

.barraLateral li {
  background-color: #ffa200;
  padding: 10px;
}

/* Estilo para o botão de alternância */
#botaoAlternar {
  background-color: #ffa200;
  width: 270px;
  color: #ffffff;
  border: solid;
  padding: 10px;
  cursor: pointer;
}
